@import "sizes";

:root {
  --page-content-padding: 32px;
  --font-family: 'Gilroy', sans-serif;

  /* colors */
  --yellow-color: #FFC70D;
  --orange-color: #CA4100;
  --orange-color-hover: #FFAA6D;
  --blue-color: #E8FBFF;
  --border-color: #D7D7D7;
  --lilac-color: #A9BCFF;
  --dark-color: #000000;

  /* z-index's */
  --z-index-header: 3;

  /* transition */
  --transition-duration-short: 250ms;
  --transition-duration-fast: 400ms;
  --transition-duration-long: 500ms;

  @include for-md-down {
    --page-content-padding: 24px;
  }
}
