@import "sizes";

:root {
  --page-content-padding: 32px;
  --font-family: 'Gilroy', sans-serif;

  /* colors */
  --yellow-color: #FFC70D;
  --orange-color: #DC6900;
  --blue-color: #E8FBFF;

  @include for-md-down {
    --page-content-padding: 24px;
  }
}
