.btns-tools-wrapper {
  display: flex;
  margin-bottom: 28px;
}

.btn-tool {
  border: 1px solid #000000;
  border-radius: var(--border-radius-normal);
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  transition: background-color var(--transition-duration-fast);
  position: relative;

  &:before, &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:before {
    opacity: 1;
  }

  &:after {
    opacity: 0;
  }

  &.hints-btn {
    &:before {
      background-image: url("/icons/question-yellow.svg");
    }

    &:after {
      background-image: url("/icons/question-white.svg");
    }
  }

  &.printing-btn {
    &:before {
      background-image: url("/icons/printing-yellow.svg");
    }

    &:after {
      background-image: url("/icons/printing-white.svg");
    }
  }

  & + & {
    margin-left: 14px;
  }

  &:focus, &.active {
    background-color: var(--yellow-color);

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}

.poem-text-wrapper {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  .mark-blue, .mark-orange {
    position: relative;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      top: -2px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 4px);
      border-radius: 10px;
      padding: 4px 8px;
    }
  }

  .mark-blue {
    &:before {
      background-color: rgba(169, 188, 255, .2);
      border: 1px solid #A9BCFF;
    }
  }

  .mark-orange {
    &:before {
      background-color: rgba(255, 210, 169, .2);
      border: 1px solid #FFD2A9;
    }
  }
}


