.container {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  padding: 20px 0;
  z-index: var(--z-index-header);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.logo-link {
  display: inline-block;
  margin-right: 20px;
}

.input-search {
  width: 260px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 8px 8px 52px;
  background-image: url("../../../static/icons/header/search.svg");
  background-color: var(--yellow-color);
  border: 2px solid var(--dark-color);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: top 50% left 18px;
  background-size: 22px;
  transition: background-color var(--transition-duration-long);

  &:focus {
    background-color: var(--orange-color-hover);
  }

  &::placeholder {
    color: grey;
  }
}
